{% extends "base.html" %}

{% block title %}About Us - Calamba Expressive Properties{% endblock %}

{% block content %}
<section class="center-text">
    <h2>About Us</h2>
    <p><strong>Our Vision:</strong> To be the most trusted facilitator in the real estate industry by providing honest
        services and serving with integrity.</p>
    <p><strong>Our Mission:</strong> Broadening sales with professional real estate personnel, and to process inventory
        of properties with sincere dealings with the notion of clients above all.</p>
    <h3>CEO/President</h3>
    <p>Erlinda "Lyn" Manguiat, CEO & President of Calamba Expressive Properties Corporation, has a long history of
        success in the real estate market.</p>

    <!-- Center the image -->
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/image_2.jpg') }}" alt="CEO image" class="center-img">
    </div>
</section>
{% endblock %}

{% block extra_head %}
{% endblock %}
