{% extends "base.html" %}

{% block title %}Our Investors - Calamba Expressive Properties{% endblock %}

{% block content %}
<section>
    <h1 style="text-align: center;">Our Investors</h1>
    <div class="grid-container">
        {% for image in images %}
        <div class="grid-item">
            <img src="{{ url_for('static', filename='images/partners/' ~ image) }}" alt="{{ image }}" onclick="openModal('{{ url_for('static', filename='images/partners/' ~ image) }}', '')">
        </div>
        {% endfor %}
    </div>
</section>

<!-- Modal Structure -->
<div id="myModal" class="modal" onclick="closeModalOnOutsideClick(event)">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImg">
    <div id="caption"></div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}
