{% extends "base.html" %}



{% block title %}Projects - Calamba Expressive Properties{% endblock %}

{% block content %}
<section>
    <h2>Our Projects</h2>

    <!-- Grid container for projects -->
    <div class="grid-container">
        {% for project in projects %}
        <div class="grid-item">
            <div class="card" style="background-color: #c8102e; border-color: #c8102e;">
                <a href="{{ url_for('project_detail', project_name=project.name) }}">
                    <img class="card-img-top" src="{{ url_for('static', filename='images/projects/' ~ project.name ~ '/' ~ project.image) }}" alt="{{ project.name }}">
                </a>
                <div class="card-body text-white">
                    <!-- <p class="card-text">test</p> -->
                    <a href="{{ url_for('project_detail', project_name=project.name) }}" class="btn btn-light">{{ project.name }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section>
{% endblock %}

{% block extra_head %}
<style>
    /* Grid container to align the projects in a grid */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive columns */
        grid-gap: 40px; /* Increased gap between items */
        margin-top: 20px;
    }

    /* Style for each grid item */
    .grid-item {
        display: flex;
        justify-content: center;
        padding: 20px; /* Add padding to create more separation */
    }

    /* Card styling */
    .card {
        width: 100%; /* Ensure card takes up full width of the grid item */
        border-radius: 8px;
        background-color: #c8102e;
        color: white;
        border: 2px solid #f3ef11; /* Add a border to the card itself */
    }

    .card-body {
        background-color: #c8102e;
        color: white;
    }

    .btn-light {
        background-color: #f3ef11;
        color: #c8102e;
    }

    .btn-light:hover {
        background-color: #c8102e;
        color: white;
    }

    /* Card image */
    .card-img-top {
        max-height: 200px;
        object-fit: cover; /* Ensures the image covers the card without distortion */
    }
</style>
{% endblock %}
