{% extends "base.html" %}

{% block title %}Services - Calamba Expressive Properties{% endblock %}

{% block content %}
<section>
    <h2>Our Services</h2>
    <ul>
        <li>Developer</li>
        <li>Contractor</li>
        <li>Rentals</li>
        <li>Commercial Lease</li>
        <li>House and Lot Selling</li>
        <li>Condominium Selling</li>
        <li>Raw Land</li>
        <li>Transfer of Title</li>
        <li>Bank Loan Assistance</li>
        <li>Service Package</li>
        <li>PAG-IBIG Assistance</li>
        <li>Insurance</li>
        <li>Building Permit</li>
        <li>Design and Build</li>
    </ul>
</section>
{% endblock %}
